aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
aiosqlite==0.20.0
alabaster==0.7.16
annotated-types==0.6.0
anyio==4.3.0
async-timeout==4.0.3
attrs==23.2.0
Babel==2.14.0
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
defusedxml==0.7.1
dnspython==2.6.1
docutils==0.20.1
dominate==2.9.1
email_validator==2.1.1
exceptiongroup==1.2.0
fastapi==0.110.1
Flask==3.0.2
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
h11==0.14.0
httptools==0.6.1
idna==3.6
imagesize==1.4.1
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
multidict==6.0.5
packaging==24.0
pguard==0.4.0
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.17.2
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.31.0
setuptools-scm==8.0.4
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.29
starlette==0.37.2
tomli==2.0.1
typing_extensions==4.10.0
urllib3==2.2.1
uvicorn==0.29.0
uvloop==0.19.0
visitor==0.1.3
watchfiles==0.21.0
websockets==12.0
Werkzeug==3.0.2
WTForms==3.1.2
yarl==1.9.4
